
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="Gerente"> 
                <div class="LogoImg"><img src="LogoF.png" width="130px" height="110px"></div>
            </a>
  
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
  
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="Gerente">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Plantilla Gerente</span></a>
            </li>
  
            <!-- Divider -->
            <hr class="sidebar-divider">
  
            <!-- Heading -->
            <div class="sidebar-heading">
                ¿Que deseas hacer hoy?
            </div>

            

            <li class="nav-item">
                <a class="nav-link" href="GuardarLotes" routerLink="GuardarLotes">
                    <i class="fa fa-archive" aria-hidden="true"></i>
                    <span>Lotes</span></a>
            </li>

            
            
            <li class="nav-item">
                <a class="nav-link" href="GuardarProducto" routerLink="GuardarProducto">
                    <i class="fa-solid fa-apple-whole"></i>
                    <span>Producto</span></a>
            </li>
  
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="ConsultarProveedor" routerLink="ConsultarProveedor">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>Consultar Proveedores</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="GenerarInforme" routerLink="GenerarInforme">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Generar Informe Inventario</span></a>
            </li>

        </ul>
        <!-- End of Sidebar -->
  
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
  
            <!-- Main Content -->
            <div id="content">
  
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <h4>Frutopia</h4>
  
                    <!-- Sidebar Toggle (Topbar) -->
                    
  
                    <!-- Topbar Search -->
                    
  
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
  
                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Centro Control Alertas
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Todas las Alerts</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>
  
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Gerente</span>
                                <img class="img-profile rounded-circle" src="undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar Sesion
                                </a>
                            </div>
                        </li>
  
                    </ul>
  
                </nav>
                <!-- End of Topbar -->
  
                <!-- Begin Page Content -->
                <div class="container-fluid">
  
                    <router-outlet/>
                    
                    <!-- Content Row -->
                    
  
  
                    <!-- Content Row -->
  
                    
  
                </div>
                <!-- /.container-fluid -->
  
            </div>
            <!-- End of Main Content -->
  
            <!-- Footer -->
            <footer class="Pie-pagina">
                <!-- Primer parte del footer -->
                    <div class="DIVISION">
                        <!-- Contenedores de los footer -->
                        <div class="box">
                            <!-- Contenedor de la imagen del logo -->
                            <figure>
                                <img src="LogoF.png" alt="Logo-foo">  <!-- Logo de la pagina -->              
                            </figure>
                        </div>
                        <div class="box">
                            <!-- Informacion de la pagina -->
                            <h2>SOBRE NOSOTROS</h2>
                            <P>"Somos un fruver para la familia que estamos localizados en floridablanca ven y disfruta de todos nuestros Productos"</P>                   
                        </div>
                        <div class="box">
                            <!-- Informacion de Contacto  -->
                            <h2>CONTACTO</h2>
                            <ul>
                                <li>Cl. 9 #23-55 UDI</li> <!-- Direccion del contacto -->
                                <li>Bucaramanga, Colombia</li> <!-- Ciudad y pais de contacto -->
                                <li>esuarez14-udi.edu.co</li>  <!-- Correo de contacto -->
                            </ul>
                        </div>
                        <div class="box">
                            <h2>SIGUENOS</h2>
                            <!-- Contenedor de las redes sociales -->
                            <div class="RED-SOCIAL">
                                <!-- Iconos de las Redes Sociales -->
                                <a href="https://www.facebook.com" class="icono"><i class="fab fa-facebook-f"></i></a> <!-- Icono de facebook -->
                                <a href="https://www.instagram.com" class="icono"><i class="fab fa-instagram"></i></a> <!-- Icono de Instagran -->
                                <a href="https://web.whatsapp.com/" class="icono"><i class="fab fa-whatsapp"></i></a> <!-- Icono de Whatsapp -->
                                <a href="https://www.tiktok.com/" class="icono"><i class="fa-brands fa-tiktok"></i></a> <!-- Icono de tiktok -->
                            </div>
                        </div>
                    </div>
                    <div class="DIVISION2">
                        <small>
                            <!-- Derechos Reservados de la pagina  -->                   
                            <p>&copy; 2024 <b>Frutopia</b> Hecho por: Eduar Suarez,Angel Rueda y Jose Galvis</p>
                        </small>
                    </div>
                </footer>
            <!-- End of Footer -->
  
        </div>
        <!-- End of Content Wrapper -->
  
    </div>
    <!-- End of Page Wrapper -->
  
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
  
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Listo Para Salir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Seleccione "Cerrar sesión" a continuación si está listo para finalizar su sesión actual.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="">Cerrar Sesion</a>
                </div>
            </div>
        </div>
    </div>
  

